php_value memory_limit 30M
php_value post_max_size 100M
php_value upload_max_filesize 30M
php_value max_execution_time 600
RewriteEngine on
# if a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward the request to index.php
RewriteRule . index.php