.h4_ml_10{
 margin-left: 10px;
}
.green_tag{
    background: #1ABB9C ;
}
.red_tag{
    background: #90111A ;
}
.blue_tag{
    background: #34495E;
}
.yellow_tag{
    background: rgba(243, 156, 18, 0.88);
}
.violet_tag{
    background: #8E44AD;
}
.violet_tag:after {
    border-left: 11px solid #8E44AD;
}
.green_tag:after {
    border-left: 11px solid #1ABB9C;
}

.red_tag:after {
    border-left: 11px solid #90111A;
}

.blue_tag:after {
    border-left: 11px solid #34495E;
}

.yellow_tag:after {
    border-left: 11px solid rgba(243, 156, 18, 0.88);
}
.inner_dialog_section_msg{
    padding-bottom: 10px;
}
.red{
    color: #90111A;
}
.green{
    color: #1ABB9C ;
}
.yellow{
    color: rgba(243, 156, 18, 0.88);
}
.link-upd{
    color:#1ABB9C;
}
.per-page-select{
    padding-bottom: 10px;
}
.error-summary{
    color: #90111A;
}
.hideShowBtnClass{cursor: pointer;}
.min-height-100{min-height: 100px;}
.marg-l-10{margin-left: 10px;}
.paid-red{color: #90111A;}
.paid-green{color: #5cb85c;}
.paid-control{cursor: pointer;font-size: 18px;}
.pdfPreview{text-align: center;}
.btn-psk{margin-left: 50px;}
.loader {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.btnMinusRule{  margin-top: 25px;  }
.btnContact{  margin-top: 23px;  }
.company-header{  background-color: #F2F5F7;  padding: 20px;  }
.company-msg li{  list-style-type: none;  }
.delete-link,.link-btn-cursor{  cursor: pointer; }
.block-view-type{  float: left;  padding-left: 20px;  }
.modal-header h2{  float: none;  }
.block-min-height{  min-height: 60px;  }
.company-time-control{  padding-top: 20px;  padding-bottom: 10px;  background-color: #E6E9ED;  }
.time-block{padding-top: 6px;font-size: 18px;}
.colorYellow{color: rgba(243, 156, 18, 0.88)}
.navbar {border: none;}
.toggle {padding-left: 10px;}
.pddtop20{padding-top: 20px;}
.atlwdg-TOP{z-index: 9999999;}
.wm_right_tab{float:right !important;margin-right: 8px;}
.wm_border_none{border: none;}
.dialog-not-viewed .block_content,.dialog-not-viewed .message_wrapper{background-color: #FFFAF0;}
.dialog-not-viewed .block_content h2.title::before{border: 3px solid #F39C12;}
.tabled-notification-h2{font-size: 14px;}
.bold-item{font-weight: bold;}
.dialog-title-link{font-size: 16px;font-weight: bold;}
.color-white{color: #FFFFFF !important;}
tr.admin-line{background-color: #CEF6E3 !important;}
.pdd-left-15{padding-left: 15px;}
.datepicker-dropdown.datepicker-orient-top:after,.datepicker-dropdown.datepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-top:before,.datepicker-dropdown.datepicker-orient-bottom:after{display: none!important;}
._calendar_hd{background-color: #f2dede;}
._calendar_ed{background-color: #C1FFC1;}
._calendar_shd{background-color: #fcf8e3;}

.table-calendar td {font-size: 16px}
.calendar-month{min-height: 330px;}
.calendar-edit td.calendar_day:hover{background-color: #ddd;cursor: pointer;}
.mrg-auto{margin: auto;}
.ts_green{color: #5cb85c;}
.ts_red{color: #90111A;}
.ts_bg_task{background-color: #EBF5FB;}
.ts_bg_work_day{background-color: #F4ECF7 ; }
.table-time-users-sheet th,.table-time-users-sheet td{
    padding: 2px !important;
    vertical-align: middle !important;
}
.ts-user-col:hover{
    background-color:#AEB6BF ;
    cursor: pointer ;
}
.btn-back{
    float:left;
    margin-right: 20xp;
}
.horizontal-scroll{
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}