php_value memory_limit 150M
RewriteEngine on
# if a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward the request to index.php
RewriteRule . index.php
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    ExpiresByType image/gif "access plus 1 months"
    ExpiresByType image/jpeg "access plus 1 months"
    ExpiresByType image/png  "access plus 1 months"

    <filesmatch ".(ico|css|js)$">
		ExpiresActive on
		ExpiresDefault "access plus 1 month"
	</filesmatch>
  <FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|pdf)$">
    Header set Cache-Control "max-age=2592000"
  </FilesMatch>
</IfModule>